---
import { site } from "../data/site";
const image =
  `${site.seo.url}${site.seo.socialImage}`;

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const structuredData = {
  "@context": "https://schema.org",
  "@type": "BedAndBreakfast",
  name: site.name,
  description: site.description,
  telephone: site.phone,
  email: site.email
};
---

<title>{title}</title>

<meta name="description" content={description} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url.href} />
<meta property="og:locale" content="fr_FR"/>
<meta property="og:site_name" content={site.name} />
<meta property="og:test" content="hello" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content={image} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />

<script type="application/ld+json" set:html={JSON.stringify(structuredData)} />